<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <servlet>
        <servlet-name>pbqdi</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pbqdi</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
